<a href="https://colab.research.google.com/github/lsneerg/pandas_exercises/blob/master/05_Merge/Auto_MPG/Exercises_suny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [15]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

In [2]:
url1 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'
url2 = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv'

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
cars1 = pd.read_csv(url1)
print(cars1.info())
print(cars1.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB
None
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
21   24.0          4           107         90    2430          14.5     70
103  11.0          8           400        150    4997          14.0     73
129  31.0          4            79         67    1950          19.0     74
22   25.0          4           104         95    2375          17.5     70
127  19.0          6           232        100    2901          16.0     74

     origin               car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
21        2       audi 100 ls         NaN          NaN          NaN
103       1  chevrolet impala         NaN          NaN          NaN
129       3       datsun b210         NaN          NaN          NaN
22        2          saab 99e         NaN          NaN          NaN
127       1        amc hornet         NaN          NaN          NaN

     Unnamed: 12  Unnamed: 13
21           NaN          NaN
103          NaN          NaN
129          NaN          NaN
22           NaN          NaN
127          NaN          NaN

In [5]:
cars2 = pd.read_csv(url2)
print(cars2.info())
print(cars2.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           200 non-null    float64
 1   cylinders     200 non-null    int64
 2   displacement  200 non-null    int64
 3   horsepower    200 non-null    object
 4   weight        200 non-null    int64
 5   acceleration  200 non-null    float64
 6   model         200 non-null    int64
 7   origin        200 non-null    int64
 8   car           200 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 14.2+ KB
None
      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
30   18.5          6           250         98    3525          19.0     77
10   13.0          8           318        150    3940          13.2     76
150  37.7          4            89         62    2050          17.3     81
197  32.0          4           135         84    2295          11.6     82
80   31.5          4            89         71    1990          14.9     78

     origin                         car
30        1                ford granada
10        1  plymouth volare premier v8
150       3               toyota tercel
197       1               dodge rampage
80        2         volkswagen scirocco

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1.columns.to_list()

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'car',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13']

In [9]:
cars1.drop(columns=[
    'Unnamed: 9',
    'Unnamed: 10',
    'Unnamed: 11',
    'Unnamed: 12',
    'Unnamed: 13'
    ],
           inplace=True)

### Step 5. What is the number of observations in each dataset?

In [10]:
print(cars1.shape[0], cars2.shape[0])

198 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars = pd.concat([cars1, cars2])

In [13]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 398 entries, 0 to 199
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    int64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model         398 non-null    int64
 7   origin        398 non-null    int64
 8   car           398 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 31.1+ KB

In [14]:
cars.sample(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
77,22.0,4,121,76,2511,18.0,72,2,volkswagen 411 (sw)
191,22.0,6,225,100,3233,15.4,76,1,plymouth valiant
137,35.0,4,122,88,2500,15.1,80,2,triumph tr7 coupe
50,36.1,4,91,60,1800,16.4,78,3,honda civic cvcc
86,20.6,6,225,110,3360,16.6,79,1,dodge aspen 6

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [17]:
owners = pd.Series(np.random.randint(low=15000, high=73000+1, size=(cars.shape[0])))

In [18]:
owners

0      43029
1      57532
2      29066
3      46755
4      25287
       ...
393    59967
394    53268
395    38632
396    46130
397    29561
Length: 398, dtype: int64

### Step 8. Add the column owners to cars

In [25]:
cars['owner'] = owners

In [26]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owner
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,43029
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,57532
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,29066
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,46755
4,17.0,8,302,140,3449,10.5,70,1,ford torino,25287

In [24]:
owners.head()

0    43029
1    57532
2    29066
3    46755
4    25287
dtype: int64