<a href="https://colab.research.google.com/github/lsneerg/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises_suny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [73]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [74]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

len(chipo)

4622

In [ ]:
# Solution 2

chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
# len(chipo.columns)
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
c = chipo.groupby(by='item_name')['quantity'].sum()
c = c.sort_values(ascending=False)
c.head(1).index

Index(['Chicken Bowl'], dtype='object', name='item_name')

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c = chipo.groupby(by='item_name')['quantity'].sum()
c = c.sort_values(ascending=False)
c.head(1).values

array([761])

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
c = chipo.groupby(by='choice_description')['quantity'].sum()
c = c.sort_values(ascending=False)
c.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
chipo['quantity'].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'].sample(10)

3269     $8.49
2688     $2.95
2012    $11.25
1396     $1.09
4117     $9.25
3892     $8.75
119      $3.99
653      $1.50
3997     $8.75
2492     $8.99
Name: item_price, dtype: object

In [76]:
dedollarizer = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].apply(dedollarizer)

#### Step 13.c. Check the item price type

In [77]:
chipo['item_price'].dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [91]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
total_rev = chipo['revenue'].sum()

### Step 15. How many orders were made in the period?

In [92]:
n_orders = chipo['order_id'].value_counts().count()

### Step 16. What is the average revenue amount per order?

In [93]:
chipo.sample(15)

,order_id,quantity,item_name,choice_description,item_price,revenue
979,402,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
3642,1456,1,Canned Soft Drink,[Sprite],1.25,1.25
883,365,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.25,11.25
3069,1222,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",8.75,8.75
1028,423,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",8.49,8.49
3062,1220,1,Canned Soda,[Dr. Pepper],1.09,1.09
2331,928,1,Canned Soft Drink,[Nestea],1.25,1.25
4214,1682,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]",8.75,8.75
2244,904,1,Side of Chips,NaN,1.69,1.69
464,199,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75,8.75
1216,496,1,Canned Soda,[Diet Coke],1.09,1.09
2852,1133,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",8.99,8.99
4365,1743,1,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75,8.75
3493,1403,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89
2600,1032,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",9.39,9.39

In [94]:
# Solution 1

total_rev / n_orders

21.39423118865867

In [98]:
# Solution 2

chipo.groupby('order_id')['revenue'].sum().mean()

21.39423118865867

### Step 17. How many different items are sold?

In [100]:
chipo['item_name'].value_counts().count()

50