<a href="https://colab.research.google.com/github/lsneerg/pandas_exercises/blob/master/06_Stats/US_Baby_Names/Exercises_suny.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

In [1]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv'

### Step 3. Assign it to a variable called baby_names.

In [8]:
baby_names = pd.read_csv(url)

### Step 4. See the first 10 entries

In [9]:
baby_names.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [10]:
baby_names.drop(['Unnamed: 0', 'Id'], axis=1, inplace=True)
baby_names.sample(5)

           Name  Year Gender State  Count
69357   Odyssey  2005      F    CA      7
980358    Jonah  2010      M    WA     85
376533  Kadence  2012      F    KY     23
404295   Caidyn  2012      M    LA      5
297804  Kaitlin  2006      F    IL     46

### Step 6. Is there more male or female names in the dataset?

In [12]:
baby_names['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [61]:
names = baby_names[['Name', 'Count']].groupby('Name')['Count'].sum().sort_values(ascending=False)
names.head()

Name
Jacob       242874
Emma        214852
Michael     214405
Ethan       209277
Isabella    204798
Name: Count, dtype: int64

### Step 8. How many different names exist in the dataset?

In [62]:
names.shape[0]

17632

### Step 9. What is the name with most occurrences?

In [64]:
names[names == names.max()]

Name
Jacob    242874
Name: Count, dtype: int64

### Step 10. How many different names have the least occurrences?

In [66]:
names[names == names.min()].shape[0]

2578

### Step 11. What is the median name occurrence?

In [67]:
names.median()

49.0

### Step 12. What is the standard deviation of names?

In [68]:
names.std()

11006.0694678915

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [69]:
names.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64